 <header class="header_top">
         <div class="Mycontainer">
            <nav class="navbar navbar-expand-lg navbar-light ">
                <div class="container-fluid">
                  <a class="navbar-brand" href="/"><img data-aos="fade-down-right" src="./img/Tempiltin.png" alt=""></a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div data-aos="zoom-in-up" class="collapse navbar-collapse " id="navbarNav">
                    <ul class="navbar-tem d-flex justify-content-between ">
                       <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/about">About</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#!">Resume</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                      </li>
                      <li class="nav-item ">
                        <a style="cursor: pointer;" class="nav-link nav-tem " href="/portfolio"  >Portfolio</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
         </div>
    </header>