<!DOCTYPE html>
<html lang="en">
{{> head}}

<body>
  <div id="top" >
        <img  src="/lbs/jquvery/images/top1.png" alt="">
    </div>
    {{> navbar}}
  {{{body}}}
    {{> script}}
</body>

</html>