<section class="section_about">
    <div class="container">
        <div class="row justify-content-center pt-5">
            <div class="col-lg-6">
                <form action="" method="POST">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="gmail">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">sharh yozing</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <button class="btn" type="button"> submit</button>
                </form>
            </div>
        </div>
    </div>
</section>