
    <header class="header_middle">
      <div class="Mycontainer">
        <div class="row justify-content-between">
            <div class="col-lg-5">
              <div data-aos="fade-down-left" class="Calindartempiltin">
                 <div class="calendar">
                    <h2 id="monthName"> </h2>
                    <h3 id="dayName"> </h3>
                    <h1 id="dayNumber"> </h1>
                    <h2 id="year"> </h2>
                 </div>
              </div>
            </div>
          <div class="col-lg-6">
              <div class="mt-t">
                <h2>Hi !  my name is</h2>
                <h1>Temurbek</h1>
                <a data-aos="zoom-in-up"  href="#HeaderBottom">about me</a>
              </div>
          </div>
        </div>
      </div>
    </header> 
     <header class="header_bottom" id="HeaderBottom">
          <div class="Mycontainer">
              <nav class="navbar navbar-light ">
                  <div class="container-fluid">
                        <a href="/" class="navbar-brand"><img data-aos="fade-down-right" src="./img/Tempiltin.png" alt=""></a>
                        <form data-aos="fade-down-left" class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="tem" type="submit">Search</button>
                        </form>
                  </div>
              </nav>
          </div>
     </header>  
     
        

