
    <header class="header_middle">
      <div class="Mycontainer">
        <div class="row justify-content-between">
            <div class="col-lg-5">
              <div data-aos="fade-down-left" class="Calindartempiltin">
                 <div class="calendar">
                    <h2 id="monthName"> </h2>
                    <h3 id="dayName"> </h3>
                    <h1 id="dayNumber"> </h1>
                    <h2 id="year"> </h2>
                 </div>
              </div>
            </div>
          <div class="col-lg-6">
              <div class="mt-t">
                <h2>Hi !  my name is</h2>
                <h1>Temurbek</h1>
                <a data-aos="zoom-in-up"  href="#HeaderBottom">about me</a>
              </div>
          </div>
        </div>
      </div>
    </header> 
     <header class="header_bottom" id="HeaderBottom">
          <div class="Mycontainer">
              <nav class="navbar navbar-light ">
                  <div class="container-fluid">
                        <a href="/" class="navbar-brand"><img data-aos="fade-down-right" src="./img/Tempiltin.png" alt=""></a>
                        <form data-aos="fade-down-left" class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="tem" type="submit">Search</button>
                        </form>
                  </div>
              </nav>
          </div>
     </header>  
     <main class="main_top">
  <div class="container">
    <h2 data-aos="fade-right">A B O U T</h2>
    <div class="row">
      <div class="col-12">
        <div class="mycard " data-aos="fade-up">
          <div class="row justify-content-between">
            <div class="col-lg-3 d-flex justify-content-center">
              <img src="./img/300x300.jfif" alt="">
            </div>
            <div class="col-9">
              <div class="row">
                <div class="col-lg-5">
                  <h4>name : <span>Temurbek</span></h4>
                  <h4>surname : <span>Shukurov</span></h4>
                  <h4>father's name : <span>Gafur</span></h4>
                  <h4>date of birth : <span>2002.09.01</span></h4>
                  <h4>address : <span>Samarkhand</span></h4>
                </div>
                <div class="col-7">
                  <h4>tell : <a href="#+998337074105">+998337074105</a></h4>
                  <h4>E-mail : <a href="#!">temurbekshukurov0707@gmail.com</a></h4>
                  <h4>instagram : <a href="#!">@_____tempiltin_____</a></h4>
                  <h4>git hub : <a href="https://github.com/Tempiltin99">Tempiltin99</a></h4>
                  <h4>telegram : <a href="https://t.me/Tempiltin2">Temur</a></h4>
                </div>

              </div>

            </div>
          </div>
          <hr style="color: white; height: 5px;width: 90%; margin: 10px auto;">
          <div class="row">
            <div class="col-12">
              <h4 class="eded">educational institution: Narpay service technikom , Change IT academy ,</h4>
              <h4 class="eded">Technikom: Computer Ingenering</h4>
              <h4 class="eded">Change IT academy: web programmer</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <h2 data-aos="fade-right">F R O N T E N D</h2>
      <div class="col-lg-3">
        <div class="MyfrontCard " data-aos="fade-up">
          <div class="MyTopContainer">
            <img data-aos="fade-down-left" src="./img/front/html.png" alt="png">
            <h4 data-aos="fade-down-right">Html</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="MyfrontCard" data-aos="fade-up">
          <div class="MyTopContainer">
            <img data-aos="fade-down-left" src="./img/front/css.png" alt="png">
            <h4 data-aos="fade-down-right">Css</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="MyfrontCard" data-aos="fade-up">
          <div class="MyTopContainer">
            <img data-aos="fade-down-left" src="./img/front/javascript.png" alt="png">
            <h4 data-aos="fade-down-right">Javascript</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="MyfrontCard" data-aos="fade-up">
          <div class="MyTopContainer">
            <img data-aos="fade-down-left" src="./img/front/jquery.png" alt="png">
            <h4 data-aos="fade-down-right">Jquery</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <h2 data-aos="fade-left">B A C K E N D</h2>
      <div class="col-lg-3">
        <div class="MyfrontCard " data-aos="fade-up">
          <div class="MyTopContainer">
            <img data-aos="fade-down-left" src="/img/backend/node-js.png" alt="png">
            <h4 data-aos="fade-down-right">Node js</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="MyfrontCard " data-aos="fade-up">
          <div class="MyTopContainer">
            <img data-aos="fade-down-left" src="/img/backend/express.png" alt="png">
            <h4 data-aos="fade-down-right" class="mt-5">Express js</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="MyfrontCard " data-aos="fade-up">
          <div class="MyTopContainer">
            <img data-aos="fade-down-left" src="/img/backend/mongoDb.png" alt="png">
            <h4 data-aos="fade-down-right" class="mt-5"> MongoDB </h4>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="MyfrontCard " data-aos="fade-up">
          <div class="MyTopContainer">
            <img data-aos="fade-down-left" src="/img/backend/react.png" alt="png">
            <h4 data-aos="fade-down-right" class="mt-5">--- React js ---</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
       
      </div>
    </div>
  </div>
</main>
        

