*{
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    list-style: none !important;
    box-sizing: border-box;

}
body{
    position: relative;
}
.Mycontainer{
    width: 80%;
    margin: auto;
}
.header_top{
    width: 100%;
    height: auto;
    background-color: #e0e0de;
    /* position: fixed;
    z-index: 1000; */


}
.header_top .collapse .navbar-tem{
    width: 100%;
}
.header_top .collapse .navbar-tem .nav-item .nav-link{
    font-size: 24px;
    font-weight: 500;
    color: black;
}
.header_top .collapse .navbar-tem .nav-item .nav-tem{
    border: 2px solid #000;
    border-radius: 30px;
}
.header_middle{
    width: 100%;
    height: auto;
    background: url('../img/1111.jpg')no-repeat center center / cover;
    background-attachment: fixed;
}
.header_middle img{
    margin-top: 25%;
    margin-bottom: 25%;
    border-radius: 50%;
    border: 5px solid #241cec;
}

.mt-t{
    margin-top: 25%;
}
.header_middle h2{
    font-size:  80px;
    font-weight: 600;
    color: white;

}

.header_middle h1{
    font-size:  90px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    margin-bottom: 50px;
    transition: 900ms;

}
.header_middle h1:hover{
    color: rgba(255, 255, 255, 0.363);
    cursor: pointer;
}
.header_middle a{
   font-size: 60px;
   color: white;
   padding: 2px 30px 15px 30px;
   border: 3px solid white;
   border-radius: 60px;
   transition: 900ms;
  
}
.header_middle a:hover{
    background-color: rgba(255, 255, 255, 0.616);
    color: rgba(0, 0, 0, 0.288);
    
}
:focus{
    outline: none !important;
}
.header_bottom{
    width: 100%;
    height: auto;
    background: #e0e0de;
}
.header_bottom input{
    color: black;
    border: 2px solid black;
    border-radius: 25px;
    background: transparent;
    
}
.header_bottom input:focus{
    border: 2px solid black !important;
    box-shadow: none;
    background: transparent;
}
.header_bottom .tem{
    background: transparent;
    font-size: 22px;
    color: black;
    border: 2px solid black;
    padding: 5px 10px;
    border-radius: 25px;
}

.main_top{
    width: 100%;
    height: auto;
    background:url('../img/dark.jpg') no-repeat center center / cover;
    background-attachment: fixed;
    
}
.main_top h2{
    color: #ffffffa6;
    font-size: 70px;
    font-weight: 800;
    text-align: center;
    padding-top: 10%;
    margin-bottom: 10%;
    transition: 900ms !important;
    cursor: pointer;
    letter-spacing: .15em;
    text-shadow: 
       1px -1px 0     #095fa5,
       -4px 4px 1px   #19197e, 
       -8px 8px 1px   #53a803,
       -12px 12px 1px   #ff0425, 
       -16px 16px 1px   #ffffff, 
       -20px 20px 1px  #000000, 
       -24px 24px 1px  #828181
       
   
}

.main_top .mycard{
    width: 100%;
    height: 500px;
    background: rgba(0, 0, 0, 0.616);
    margin-top: 10%;
}
.main_top .mycard img{
    display: inline;
    text-align: center;
    margin-top: 20px;
}
.main_top .mycard h4{
    margin-top: 20px;
    font-size: 22px;
    font-weight: 500;
    color: white;

}
.main_top .mycard h4 a{
    color: white;
}
.main_top .mycard .eded{
    margin-left: 20px;
}
.MyTopContainer{
    width: 90%;
    margin: auto;
}
.MyfrontCard{
    width: 100%;
    background: rgba(0, 0, 0, 0.616);
   transition: 900ms !important;
}
.MyfrontCard:hover{
    box-shadow: 
    1px -1px 0    rgba(0, 0, 0, 0.616),
    -4px 4px 1px   rgba(139, 137, 137, 0.616), 
    -8px 8px 1px   rgba(133, 123, 123, 0.616),
    -14px 14px 1px  rgba(245, 245, 245, 0.616);
    /* z-index: 50; */
    
}
.MyfrontCard .MyTopContainer img{
    width: 100%;
    margin-top: 15px;
    
}
.MyfrontCard .MyTopContainer h4{
    color: white;
    text-align: center;
    padding-bottom: 20px;
}
/*================================================== about(21-yanvar soat 14.11) ========================================== */
.section_about{
    width: 100%;
    height: 88.6vh;
    background: url('../img/1111.jpg')no-repeat center center / cover;
}