
.color{
    text-align: center;
    background-color: #ff6525;
    color: #000;
    background-position: 15px 0;
    margin: 0;
}
h2{
    margin-bottom: 20px;
}

h3{
    text-align: center;
}
.text p {
    text-align: justify;
}
.mt{
    margin-top: 30px;
}

#top {
    display: none;
    position: fixed;
    right: 5%;
    bottom: 2%;
    cursor: pointer;
    z-index: 10;
}

#top img {
    padding: 15px;
    border-radius: 3px;
    width: 70px;
    height: 70px;
    background: rgba(0, 0, 0, 0.616)}


@media screen and (max-width: 768px){
    h2{
        font-size: 20px;
    }
    .mt{
        margin-top: 15px;
    }
}